.note-container {
  text-align: center;
  font-family: fantasy;
}

nav {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

nav > ul {
  list-style-type: none;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

nav > ul > li {
  display: inline-block;
  margin: 20px;
}

nav > ul > li > a {
  color: rgb(238, 220, 143);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

