@import '../../style/vars';

.note-grid {
  width: 100%;
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  // grid-gap: 10px;
  
  .note-list {
    float: left;
    width: 45%;
    background-color: $color-note-background;
    box-shadow: $box-shadow;
    border: 2px solid black;
    border-radius: 8px;
    margin: $pad;
    padding: $pad;
    margin-bottom: $pad * 4;
    // max-width: 300px;
    min-width: 400px;
    // max-width: 1024px;

    .note-buttons {
      box-sizing: border-box;
      width: 200px;
      height: 40px;
      text-align: right;
      // margin-right: 0;
      margin-left: auto;

      button {
        margin-left: $pad*2;
      }
    }
  }
}
