@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');

$color-menu-background: #034b4b;
$color-menu-text: #B5BAC3;
$color-body-background: #2C4870;	// Main Primary color */
$color-note-background: #DFE5EF;
$color-menu-background: #6C82A3;
$color-menu-hover: #081D3D;
$color-shadow: #00040A;

$color-error: #ff0000;
$color-secondary: #F0DCB6;
$color-primary: #ff777a;
$color-success: #77ff7a;
$color-white: #fff;
$color-black: #000;
$color-lightgrey: #B5BAC3;
$color-grey: #7A7D84;
$color-darkgrey: #6E7177;
$color-darkcyan: #008b8b;


$pad: .75em;
$box-shadow: 2px 3px 10px 5px $color-shadow;

$font-base-size: 16px;
$font-primary: 'Source Code Pro', monospace;

$background-texture: url("https://www.transparenttextures.com/patterns/brushed-alum-dark.png");